<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/me.jpeg">
        <p class="about1">This web app was created by shanmukha, a senior undergraduate in IIT BHU Varanasi. </p><br>
        <p class="about1">Contact me at alladas.cd.met17@itbhu.ac.in</p>
    </div>
    
    {{>footer}}
</body>

</html>