<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpText}}</p>
        <p id="help1">You can use this website to get the weather forecast of your current location or any other location across the globe. Please enter your location name in the search field in the weather page.</p>
    </div>
    
    {{>footer}}
</body>

</html>